.common-layout {
  background-color: #fff;
}
.header-wrap {
  width: 100%;
  min-width: 1000px;
  height: 120px;
  padding: 0;
  color: #2E2E2D;
  --el-header-padding: 0;
  z-index: 2001;

  &-main {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 120px;
    z-index: 99;
    padding: 0 4.5%;
    box-sizing: border-box;
    background-color: #fff;
    transition: top .3s ease-in-out,left .3s ease-in-out,right .3s ease-in-out,height .2s linear;
  }

  .header-bottom-line {
    position: absolute;
    bottom: 0;
    width: 91%;
    height: 5px;
    background: linear-gradient(90deg, #70442F 0%, #FFE9CD 32%, #603622 65%, #C48D71 85%, #EAB497 100%);
  }

  // .show-header {
  //   top: 0;
  //   opacity: 1;
  //   transition: top .3s ease-in-out,left .3s ease-in-out,right .3s ease-in-out,height .2s linear;
  //   transition: opacity ease-in 1s;
  // }

  .hidden-header {
    top: -120px;
    // opacity: 0;
    transition: top .3s ease-in-out,left .3s ease-in-out,right .3s ease-in-out,height .2s linear;
  }

  .logo-box {
    width: 334px;
    height: 80px;
    cursor: pointer;
    img {
      width: 334px;
      height: 80px;
    }
  }

  .right-wrap {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    .line {
      width: 1px;
      height: 20px;
      margin-left: 20px;
      background-color: #f6f8ff;
    }

    .box-wrap {
      display: flex;
      align-items: center;
      margin-right: 4%;
      cursor: pointer;
      
      span {
        font-family: 'Oswald-Medium';
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.36px;
        text-transform: uppercase;
        margin-right: 10px;
      }
    }

    .join-box {
      width: 124px;
      height: 54px;
      text-align: center;
      line-height: 54px;
      border: 2px solid #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      font-family: 'Oswald-Medium';
      letter-spacing: 0.4px;
      text-transform: uppercase;
      cursor: pointer;
    }
    .icon-arrow {
      width: 10px;
      height: 6px;
    }

    .right-icon {
      width: 32px;
      height: 32px;
      margin-left: 26px;
      cursor: pointer;
    }
  }
}

.main-wrap {
  position: relative;
  padding: 0px 0px 0px 0px;
  background-color: #fff;
  overflow: hidden;
  // min-height: 80vh;

  .page-scrollbar {
    width: 100%;
    height: calc(100vh - 60PX);

    :deep(.el-scrollbar__view) {
      height: auto;
    }
  }
  .page-wrap {
    height: 100%;
    background-color: #fff;
    border-radius: 12px;
  }
}
