:root {
  --el-color-primary: #5073f7;
  --el-text-color-placeholder: rgba(0, 0, 0, 0.25);
  --el-color-primary-light-3: #718df6;
  --el-color-primary-dark-2: #1d67ff;
  --el-color-danger: #eb5e12;

  --table-query-form-height: 52px;

  --el-text-color-regular: #2E2E2D;
}

// 按钮-primary
.el-button--primary {
  --el-button-bg-color: var(--el-color-primary);
  --el-button-hover-bg-color: var(--el-color-primary);

  &:hover {
    --el-button-hover-bg-color: var(--el-color-primary-light-3);
  }

  &.is-plain {
    --el-button-bg-color: #fff;
    --el-button-hover-bg-color: #fff;
    --el-button-hover-text-color: var(--el-color-primary);
    --el-button-active-text-color: var(--el-color-primary);
    --el-button-border-color: var(--el-color-primary);
    --el-button-active-bg-color: #d4dbf5; //40%

    &:hover {
      --el-button-hover-bg-color: #e5e8f6; //20%
    }
  }
}

// 按钮-default
.el-button--default {
  --el-button-border-color: #c4c4c4;
  --el-button-text-color: #000;
  --el-button-active-text-color: #000;
  --el-button-hover-text-color: #000;

  --el-button-bg-color: #fff;
  --el-button-hover-bg-color: #fff;
  --el-button-active-bg-color: rgba(91, 115, 255, 0.4);
  --el-button-hover-border-color: #c4c4c4;

  &:hover {
    --el-button-hover-bg-color: rgba(91, 115, 255, 0.2);
  }
}

.el-button {
  --el-border-radius-base: 8px;
}

.el-input-number {
  --el-border-radius-base: 8px;
}

.text-line {
  word-break: keep-all; /* 不换行 */
  white-space: nowrap; /* 不换行 */
  overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
  text-overflow: ellipsis; /*溢出时显示省略标记...；需与overflow:hidden；一起使用*/
}

// 输入框
.el-input {
  // --el-input-border-color: #c4c4c4;
  --el-input-text-color: #2E2E2D;
  --el-input-border-radius: 8px;
  font-size: 13px;
  font-family: Oswald;
  font-size: 16px;

  .el-input__wrapper {
    display: inline-flex;
  }

  .el-input__inner::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family: Oswald;
    font-size: 16px;
  }

  .el-input-group__prepend {
    line-height: 31px;
    background-color: #f6f8ff;
    padding: 0 8px;
    color: #2E2E2D;
  }
  .el-input-group__append {
    line-height: 31px;
    background-color: #f6f8ff;
    padding: 0 8px;
    color: #2E2E2D;
  }
}

.el-textarea {
  --el-input-border-color: #c4c4c4;
  --el-font-size-base: 12px;
  .el-textarea__inner {
    height: 96px;
  }
  .el-textarea__inner::placeholder {
    color: rgba(0, 0, 0, 0.25);
    font-family: Oswald;
    font-size: 16px;
  }
  .el-textarea__inner::-webkit-scrollbar {
    display: none;
  }
}

.el-form-item {
  --font-size: 13px;
  --el-form-label-font-size: 12px;
  .el-input {
    font-size: 12px;
  }
}

.el-form-item__content .el-form-item__error {
  font-size: 10px;
}

.el-select {
  .el-select-tags-wrapper {
    max-height: 30px;
    word-break: keep-all; /* 不换行 */
    white-space: nowrap; /* 不换行 */
    overflow: hidden; /* 内容超出宽度时隐藏超出部分的内容 */
  }
}

// 日期控件
.el-date-editor {
  --el-font-size-base: 12px;
  .el-range__icon,
  .el-input__icon {
    color: var(--el-color-primary);
  }
}

i.el-icon.el-input__prefix-icon {
  color: var(--el-color-primary);
}

// 浮框样式
.el-popover.el-popper {
  min-width: auto;
  font-size: 10px;
  padding: 5px;
}

// switch
.el-switch {
  --el-switch-off-color: #d4dbf5;
}

.main-wrap {
  .edit-page-wrap {
    .edit-form-wrap {
      padding: 0 45px;

      .edit-form-wrap {
        padding: 0;
      }

      // .el-form-item__label {
      //   margin-right: 36px;
      // }
      .el-form-item__content {
        padding-left: 24px;
        .el-form-item__error {
          padding-left: 24px;
        }
      }
      .el-input,
      .el-textarea,
      .el-select {
        width: 300px;
      }
      .el-input__wrapper {
        width: 278px;
      }
      .edit-date-wrap {
        width: 280px;
        .el-date-editor {
          width: 100%;
        }
      }

      .item-btn {
        margin-left: 12px;
      }
    }
  }
}

.el-textarea__inner {
  padding: 10px 13px;
}

.el-checkbox {
  --el-checkbox-font-size: 12px;
  --el-checkbox-input-height: 10px;
  --el-checkbox-input-width: 10px;
}
.el-checkbox__inner::after {
  height: 4.6px;
  left: 2.2px;
  top: 0;
}


// 无数据样式
.no-data-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 300px;
  .no-data {
    width: 208px;
    height: 195px;
    // background-image: url('@/assets/images/no-data.png');
    // background-repeat: no-repeat;
    // background-size: 100%;
  }
  .text {
    margin-top: 20px;
    font-size: 16px;
    color: rgba($color: #000000, $alpha: 0.4);
  }
}

.text-all {
  word-break: break-all;
}

.flex {
  display: flex;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

